/* @font-face {
  font-family: FrenchFries;
  src: url(../assets/fonts/frenchfries.woff);
  font-display: swap;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@300;600&display=swap");

html {
  font-family: "Raleway", sans-serif;
}
